<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Developer</span>
                <h1 class="mt-3">Shubham Verma</h1>
                <p class="p-des mt-3 mb-4">Eum doloribus facilis qui doloremque ducimus sit quae dicta et deserunt
                    dolores aut quae magnam et
                    itaque maxime. Sit eius laborum et obcaecati quod ad aperiam illum ea ratione alias ea numquam culpa
                    in tempore nihil qui exercitationem velit. Ut mollitia delectus est saepe molestias nam laudantium
                    molestiae non veniam molestiae vel quae molestias est ratione earum ut itaque alias. Ut quia
                    laboriosam qui assumenda repellat sed quia eligendi et laudantium neque qui cumque similique.</p>
                <a href="#" class="p-readmore">Read more<img src="assets/img/play.png" alt="next img" width="15px"
                        class="ml-2"></a>
                <div style="padding-top: 50px;">
                    <h6>Subscribe to our Newsletter</h6>
                    <form class="form-inline">
                        <div class="form-group p-flex">

                            <input type="email" class="form-control" id="email" placeholder="Enter your email here" style="width:50%;margin-right: 4px;">
                            <button class="btn btn-warning">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>